/* Background gradient color */
body {
    background: linear-gradient(to top, #1a1353, #3a3939) !important; /* Gradient colors */
  min-height: 100vh !important; /* Ensure gradient covers the whole viewport height */
}

/* Custom navbar css */
.navbar {
    background-image: linear-gradient(55deg, rgb(81, 6, 104), black);
}

/* This is the custom css for the login container */
.login-card{
    background-color: lightblue;
    color: black;
}

/* This is the custom css for the profile icon in the rop right of the navbar */
.profile-icon{
    font-size: 20px;
    color: white;
}

/* This is the custom css for the profile settings container */
.profile-card{
    background-color: lightblue;
    color: black;
}

/* Custom css for the dropdown of exercises */
.scrollable-dropdown {
    max-width: 8rem;
    max-height: 200px;
    overflow-y: auto;
}

.scrollable-dropdown-sports {
    width: auto;
}

.container-submissionContainer {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.col-saveButton {
    background-color: #010407;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* This is for the dahsboard, to make the workout link cards look better and be a bit more dynamic */
.workout-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.workout-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.workout-card {
    background-color: #f8f9fa; /* Light background color for the workout cards */
    color: black;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

/* This is for the public profile page, to make the card look a bit more dynamic */
.card-profile {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white
}

.card-profile:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(216, 211, 211, 0.2);
}

.progress-bar {
    border: 2px solid #333;
    box-sizing: border-box;
}

.progress-bar:hover {
    transform: scale(1.05);
}
